<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.handsome.images.bean.Image">

    <select id="getImages" resultType="java.lang.String">
        SELECT imageUrl from user_images where userId = #{userId}
    </select>

    <select id="getImagesPage" resultType="java.lang.String">
        SELECT imageUrl FROM user_images where userId = #{userId} limit #{offset}, #{pageSize}
    </select>
</mapper>