<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.handsome.images.bean.Image">

    <sql id="allColumns">
        id,
        userId,
        prefix,
        fileName,
        thumbnail_prefix as thumbnailPrefix,
        thumbnail,
        tagId,
        createTime,
        lastModifyTime
    </sql>

    <select id="getImagesPage" resultType="com.handsome.images.bean.Image">
        SELECT <include refid="allColumns"/> FROM user_images where userId = #{userId} ORDER BY id limit #{offset}, #{pageSize}
    </select>

    <select id="getImagesPageByPrefix" resultType="com.handsome.images.bean.Image">
        SELECT <include refid="allColumns"/> FROM user_images where userId = #{userId} AND thumbnail_prefix = #{prefix} and tagId = #{tagId} ORDER BY id desc limit #{offset}, #{pageSize}
    </select>

    <select id="getImageById" resultType="com.handsome.images.bean.Image">
        SELECT <include refid="allColumns"/> FROM user_images where  imageId = #{imageId}
    </select>

    <insert id="insert" parameterType="com.handsome.images.bean.Image">
        INSERT INTO user_images
        (userId, prefix, fileName, tagId)
        VALUE
        (#{image.userId}, #{image.prefix}, #{image.fileName}, #{image.tagId})
    </insert>
</mapper>